name: Check and Test Python Project

on:
  workflow_dispatch:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false
          fetch-depth: 1 # 0 if you want to push to repo

      - name: Python set up
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
          cache: "pip"

      - name: Install dependencies
        if: ${{ hashFiles('requirements.txt') != '' }}
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          cp src/influx_creds-EXAMPLE.py src/influx_creds.py
          cp src/name_fix-EXAMPLE.py src/name_fix.py

      - name: Run pytest unittests
        run: |
          pip install pytest
          pytest tests/ --cov --cov-report=xml:coverage.xml

      - name: Run pre-commit hooks
        uses:
          pre-commit/action@v3.0.1

          # for SonarQube coverage report
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v7
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
